---
layout: layouts/base.njk
---
<div class="message-box">
	<p><img src="/img/channels.png" class="sat" eleventy:ignore>
	<span><span>
	<i>Hello? Is someone listening?</i> This is where I write in the long form; fragments of thought and memory gathered in a place where the present lingers just a little longer. I write about whatever inspires me; there is no theme or particularity.</p>
	</span></span>
</div>

{{ content | safe }}
